/* NAVBAR SECTION */
.nav_bar{
    margin-top: 20px;
   border-radius: 90px;
   padding: 15px;
   /* From https://css.glass */

background: rgba(252, 252, 252, 0.514);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(83, 80, 80, 0.3);
}

body{
    background-color: rgb(0, 0, 0);
}
.nav_List{
    list-style: none;
    color: rgb(7, 9, 10);
    
}

.nav_List li{
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.nav_List li:nth-child(2) {
    margin-left: 26rem;
}
.nav_List li:nth-child(2), .nav_List li:nth-child(3), .nav_List li:nth-child(4){
    margin-right: 1.2rem;
}

/* HOME CONTAINER */
.home_container{
  margin-top: 1px;  
  display: flex;
  flex-wrap: wrap;
  gap: 19.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
  padding: 1.2rem;
}

.text_contents{
  color: whites;
}
.nike_btn{
   color: black; 
   overflow: hidden;
   border: none;
   cursor: pointer;
   border-radius: 15px;
   color: rgb(0, 0, 0);
   width: 150px;
   height: 40px;
   font-weight: bold;
   align-content: center;
   font-size: 0.8rem;
}
}
.nike_img{
    transform: rotate(-30deg);
 }

.home_container .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
  }

*========SECTION SECTION========*/
.Second_section{
   padding: 1.2rem
   
}
.Second_section_heading h1 {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    /* justify-content: space-between;
    gap: 2rem; */
}
.Shoe_container{
    margin-top: 4rem;
    display: flex; 
    flex-direction: row;
    
}

.Product_card{
    width: 14rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
    margin-right: 4rem;
}

.Product_card img{
    width: 11rem;
    height: 11rem;
    
}
.Product_card h2{
    color: white;
}
.Product_card p{
    color: white;
}

*==========THIRD SECTION==========*/

    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.third_section_img{
    border-radius: 1rem;
    width: 44rem;
    height: 40rem;
    margin-left: 0.5rem;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
  }

